body {
  background: #fff;
}

.side-menu {
  margin-bottom: 50px;
}

.menu-heading {
  background: #fff;
  color: #42afe3;
  font-weight: bold;
}

.logo-center {
  width: 150px;
  margin: 0 auto 20px auto;
}

.shadow {
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.mtb10 {
  margin: 15px 0;
}

.bg-white {
  background: #fff;
}

.canvas {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 100%;
}

.graph-container {
  min-height: 330px;
}

.menu-block.router-link-active {
  background: #fafafa;
  color: #42afe3;
}

.menu-block.router-link-active i {
  color: #42afe3;
}

p.small {
  font-size: 10px;
}

p.small i {
  font-size: 12px;
  margin-top: 2px;
}

i.big-icon {
  font-size: 120px;
  padding-left: 17px;
  margin: 20px auto;
}

i.danger-icon {
  color: #ed6c63;
}

i.success-icon {
  color: #97cd76;
}

i.info-icon {
  color: #42afe3;
}

.side-menu {
  margin-top: 30px;
}

.mtop5 {
  margin-top: 5px;
}

.mtop20 {
  margin-top: 20px;
}

.mleft10 {
  margin-left: 10px;
}

.section-no-padding {
  padding: 5px 0 35px 0;
}

.pad-tag {
  padding: 10px 10px 32px 10px;
  line-height: 26px;
}

.centered {
  display: block;
  margin: 0 auto !important;
}

.centered-top {
  display: block;
  margin: 10px auto 0 auto;
}

.clickable {
  cursor: pointer;
}

.font-white {
  color: #fff;
}
