<div class="columns">
  <div class="column is-6">
    <div class="message is-info shadow">
      <div class="message-header">
        CPU Load Average
      </div>
      <div class="message-body graph-container">
        <cpu-load-avg></cpu-load-avg>
      </div>
    </div>
  </div>
  <div class="column is-6">
    <div class="message is-info shadow">
      <div class="message-header">
        CPU Usage
      </div>
      <div class="message-body graph-container">
        <cpu-usage></cpu-usage>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-6">
    <div class="message is-info shadow">
      <div class="message-header">
        CPU Temperature
      </div>
      <div class="message-body graph-container">
        <cpu-temp></cpu-temp>
      </div>
    </div>
  </div>
  <div class="column is-6">
    <div class="message is-info shadow">
      <div class="message-header">
        CPU Info
      </div>
      <div class="message-body graph-container">
        <cpu-info></cpu-info>
      </div>
    </div>
  </div>
</div>